extends layout

block content
  div.container
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    h4.white|Unit N_59_api
    ul.navbar-nav.ml-auto
  .main.container
    .row
      .col-md-12.col-md-offset-3
        br
        h2.display-4.m-b-2 API